<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #text {
        font-size: 100px;
      }
      #btn1 {
        width: 200px;
        background-color: aqua;
      }
      #btn2 {
        width: 300px;
        background-color: darkorange;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <label for="name">이름 : </label>
      <input type="text" name="" id="" v-model="name" />
      <div>[안녕하세요 {{name}}님 만나서 반갑습니다]</div>
      <div>플레이월드에 오신 것을 환영합니다</div>
      <hr />
      <div>별명:</div>
      <div v-show="isShow">{{sidename}}</div>
      <hr />
      <label for="age">나이 : </label>
      <input type="text" name="" id="" v-model="age" /><br />
      <p><div>요금 :</div></p>
      <div v-if="age < 6">3,000원</div>
      <div v-else-if="age > 6 && age < 19">23,000원</div>
      <div v-else-if="age > 19 && age < 70">34,000원</div>
      <div v-else>무료</div>
      <hr />
      <a :href="url1">예매 사이트로 이동하기1</a>
      <a href="url2">예매 사이트로 이동하기2</a>
      <hr />
      <div :[key]="idValue">최대 할인 갑니다!!</div>
      <button :[key]="btnId1">여기 클릭 하세요!</button>
      <button :[key]="btnId2">여기 클릭 하세요!</button>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          name: "",
          sidename: "박밍꼬",
          age: 0,
          isShow: false,
          idValue: "text",
          key: "id",
          btnId1: "btn1",
          btnId2: "btn2",
          url1: "http://www.naver.com",
          url2: "http://www.google.com",
        };
      },
    });
  </script>
</html>
