<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h2>상상만으로 행복한 설문조사</h2>
      <div>
        아이디 :
        <input v-model.trim="name" placeholder="아이디를 입력하세요" />
        <!-- v-model은 기본적으로 모든 key stroke가 발생할 때마다 값을 업데이트 시킨다.
             .lazy 수식어를 추가하여 change 이벤트 이후에 동기화 할 수 있습니다. -->
        <input v-model.lazy="age" placeholder="나이를 입력하세요" />
      </div>
      <div>
        6달 뒤 자신에게 보내는 편지 :
        <textarea v-model="msg" placeholder="내용을 입력하세요" cols="30px"></textarea>
      </div>
      <hr />
      <div>
        {{ name }}님 {{ age }}살 이라면 내년엔 {{ Number(age) + 1 }}살 이겠군요?
        그 때 나한테 이렇게 말해줍시다.
      </div>
      -> {{ msg }}
      <hr />
      <div>
        <ul>
          <li>
            이메일 수신
            <input type="checkbox" id="email" v-model="email" true-value="Yes"
            false-value="No"/>
            <label for="email">{{ email }}</label>
          </li>
          <li>
            SMS 수신
            <input
              type="checkbox"
              id="smsYN"
              v-model="sms"
              true-value="네"
              false-value="아니오"
            />
            <label for="smsYN">{{ sms }}</label>
          </li>
        </ul>
        <hr />
        <p>당신이 가고 싶은 여행지를 선택하시오(중복가능)</p>
        <input type="checkbox" id="India" value="India" v-model="checkedArea" />
        <label for="buk">인도</label>
        <input type="checkbox" id="Japan" value="Japan" v-model="checkedArea" />
        <label for="gwangju">일본</label>
        <input type="checkbox" id="Guam" value="Guam" v-model="checkedArea" />
        <label for="gumi">괌</label>
        <input
          type="checkbox"
          id="Canada"
          value="Canada"
          v-model="checkedArea"
        />
        <label for="daejeon">캐나다</label>
        <input
          type="checkbox"
          id="Thailand"
          value="Thailand"
          v-model="checkedArea"
        />
        <label for="seoul">태국</label>
        <div>가고 싶은 여행지들: {{ checkedArea }}</div>
        <hr />
        <p>그 중에서 가장 가고 싶은 여행지를 선택하시오</p>
        <div>
          <input type="radio" id="India" value="India" v-model="checkedArea2" />
          <label for="buk">인도</label>
          <input type="radio" id="Japan" value="Japan" v-model="checkedArea2" />
          <label for="gwangju">일본</label>
          <input type="radio" id="Guam" value="Guam" v-model="checkedArea2" />
          <label for="gumi">괌</label>
          <input
            type="radio"
            id="Canada"
            value="Canada"
            v-model="checkedArea2"
          />
          <label for="daejeon">캐나다</label>
          <input
            type="radio"
            id="Thailand"
            value="Thailand"
            v-model="checkedArea2"
          />
          <label for="seoul">태국</label>
        </div>
        <span>가장 가고 싶은 나라 : {{ checkedArea2 }}</span>
        <hr />
        <div>
          <p>10년 뒤 나에게 가장 필요한 것은?(중복가능)</p>
          <select v-model="selectAfter" multiple>
            <option disabled value="">선택하세요</option>
            <option value="honor">명예</option>
            <option value="money">돈</option>
            <option value="power">권력</option>
            <option value="happiness">행복</option>
            <option value="family">가족</option>
          </select>
        </div>
        <span>난 이것이 필요해!! : {{ selectAfter }}</span>
      </div>
      <hr />
      <select v-model="selectNow">
        <option v-for="need in needs" v-bind:value="need.value">{{ need.text }}</option>
      </select>
    </div>
    <span>지금 필요한 것은? : {{ selectNow }}</span>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          name: "",
          age: "",
          msg: "",
          email: "Yes",
          sms: "네",
          checkedArea: [],
          checkedArea2: "",
          selectAfter: [],
          selectNow: "",
          needs: [
            { text: "돈", value: "money" },
            { text: "친구", value: "friend" },
            { text: "명예", value: "honor" },
            { text: "취업", value: "job" },
            { text: "집", value: "house" },
          ],
        },
        created() {
          param = 'job';
        this.selectNow = param;
        },
      });
    </script>
  </body>
</html>
